# Include essential files
include README.md MANIFEST.in
include versatile_globber/*
include requirements.txt
include MANIFEST.txt
include LICENSE.txt

# Exclude test files
exclude **/*.env

# Exclude any tests or temporary files
prune tests
prune .tox
prune .git